.column {
float: left;
width: 33.33%;
}

.row:after {
content: "";
display: table;
clear: both;
}

.vertical {
border-left: 2px solid black;
height: 522px;
position:absolute;
left: 33.33%;
}

.vertical2{
border-left: 2px solid black;
height: 522px;
position:absolute;
left: 66.4%;
}